# General Settings
HOSTNAME=devbox
DOMAIN=techfusion.it

# General DNS Configuration
DNS_PORT=53
DNS_HOST=8.8.8.8

# Proxy Configuration
NO_PROXY=172.16.0.0/12
APT_PROXY=http://proxy.example.com:8080
HTTP_PROXY=http://proxy.example.com:8080
HTTPS_PROXY=https://proxy.example.com:8443

# Traefik Configuration
TRAEFIK_CONTAINER_NAME=code-proxy
TRAEFIK_IMAGE=traefik:v3.2
TRAEFIK_DNS_PROVIDER=hetzner
TRAEFIK_ACME_STORAGE=/acme.json
TRAEFIK_ACME_EMAIL=example@example.com
TRAEFIK_HTTP_PORT=18080
TRAEFIK_HTTPS_PORT=18443
TRAEFIK_API_PORT=9080
TRAEFIK_ACME_VOLUME=/root/Docker/code-server/mounts/traefik/acme.json
TRAEFIK_HETZNER_API_KEY=your_hetzner_api_key

# Database Configuration
TIMEZONE=UTC
DB_USER=tracker
DB_NAME=tracker
DB_PASS=secure_password
DB_ROOT_PASS=root_password

DB_CONTAINER_NAME=code-db
DB_IMAGE=mariadb:10.5
DB_VOLUME=/root/Docker/code-server/mounts/db

DB_APP_CONTAINER_NAME=code-db-app
DB_APP_IMAGE=mysql:8-debian
DB_APP_PORT=3306
DB_APP_VOLUME=/root/Docker/code-server/mounts/db-app

DB_ADMIN_CONTAINER_NAME=code-db-admin
DB_ADMIN_IMAGE=phpmyadmin
DB_ADMIN_PORT=8081

# Cache Configuration
CACHE_CONTAINER_NAME=code-cache
CACHE_IMAGE=redis:6.2-alpine
CACHE_PORT=6379
CACHE_PASS=secure_redis_password
CACHE_VOLUME=/root/Docker/code-server/mounts/cache

# Authentication Configuration
AUTH_CONTAINER_NAME=code-auth
AUTH_IMAGE=quay.io/keycloak/keycloak:24.0
AUTH_MGMT_USERNAME=admin
AUTH_MGMT_PASSWORD=admin
AUTH_HTTP_PORT=7080
AUTH_HTTPS_PORT=7443

# Tracker Configuration
TRACKER_CONTAINER_NAME=code-tracker
TRACKER_IMAGE=leantime/leantime:3.3.3
TRACKER_APP_DIR=/tracker
TRACKER_DB_HOST=code-db
TRACKER_SITENAME=DevBox Tracker
TRACKER_DEFAULT_TIMEZONE=UTC
TRACKER_SESSION_SECURE=false
TRACKER_SESSION_PASSWORD=HI5Fabcde4FgH9il86MNopQeGPXXkPF7
TRACKER_SESSION_EXPIRATION=28800
TRACKER_DEBUG=1
TRACKER_USER_VOLUME=/root/Docker/code-server/mounts/tracker/userfiles
TRACKER_PUBLIC_VOLUME=/root/Docker/code-server/mounts/tracker/public_userfiles

# SMTP Configuration
SMTP_RCPT=admin@fqdn.tld
SMTP_ENABLE=true
SMTP_HOST=127.0.0.1
SMTP_AUTH=true
SMTP_USER=admin@fqdn.tld
SMTP_PASS=mysmtppassword
SMTP_AUTO_TLS=true
SMTP_SECURE=STARTTLS
SMTP_SSLNOVERIFY=true
SMPT_PORT=587
